In [87]:
import numpy as np
import pandas as pd
import pickle

In [88]:
with open("C:\\Users\\yasak\\Desktop\\mykeibaAI\\data\\race_result_table.pkl", "rb") as f:
    df_race = pickle.load(f)

print(df_race.columns)
print(f"Number of items: {len(df_race.columns)}")
df_race

Index(['date', 'race_id', 'is_win', 'rank', 'horse_id', 'weight_carried',
       'jockey_id', 'popularity', 'odds', 'last3f', 'trainer_id',
       'body_weight', 'sex', 'age', 'time_sec', 'body_diff'],
      dtype='object')
Number of items: 16

,date,race_id,is_win,rank,horse_id,weight_carried,jockey_id,popularity,odds,last3f,trainer_id,body_weight,sex,age,time_sec,body_diff
0,20231001,202309040910,1,1,2019105746,58.0,05203,5.0,7.2,35.9,01127,494.0,0,4.0,111.3,-4.0
1,20231001,202309040910,0,2,2019102983,58.0,01093,8.0,22.2,36.3,01069,494.0,0,4.0,111.4,-6.0
2,20231001,202309040910,0,3,2018104746,58.0,01174,4.0,7.0,36.8,00429,494.0,2,5.0,111.5,0.0
3,20231001,202309040910,0,4,2019100108,58.0,01157,11.0,33.9,37.1,01039,494.0,0,4.0,111.6,0.0
4,20231001,202309040910,0,5,2019103518,58.0,01128,10.0,30.1,36.8,00425,532.0,0,4.0,111.6,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28501,20240428,202408030411,0,14,2018104609,58.0,01157,8.0,39.8,39.4,01070,482.0,2,6.0,199.0,-4.0
28502,20240428,202408030411,0,15,2020103650,58.0,05386,2.0,2.8,40.5,01103,464.0,0,4.0,199.8,-8.0
28503,20240428,202408030411,0,16,2016104946,58.0,05212,7.0,34.6,40.3,01071,462.0,0,8.0,200.0,8.0
28504,20240428,202408030411,0,中止,2019100630,58.0,01115,15.0,199.1,NaN,01058,486.0,0,5.0,NaN,2.0
28505,20240428,202408030411,0,取消,2016104851,58.0,01180,NaN,NaN,NaN,01151,NaN,2,8.0,NaN,NaN

In [89]:
with open("C:\\Users\\yasak\\Desktop\\mykeibaAI\\data\\horse_result_table_2404.pkl", "rb") as f:
    df_horse = pickle.load(f)

print(df_horse.columns)
print(f"Number of items: {len(df_horse.columns)}")
df_horse

Index(['horse_id', 'race_date', 'weather', 'race_no', 'race_id',
       'num_of_horses', 'frame_no', 'horse_no', 'odds', 'popularity',
       'finish_position', 'jockey_id', 'weight', 'course_condition', 'time',
       'margin', 'final_3f', 'prize_money', 'course_state', 'distance_length',
       'passing_1st', 'passing_2nd', 'passing_3rd', 'passing_4th', 'pace_1st',
       'pace_2nd', 'body_weight', 'body_diff'],
      dtype='object')
Number of items: 28

,horse_id,race_date,weather,race_no,race_id,num_of_horses,frame_no,horse_no,odds,popularity,...,course_state,distance_length,passing_1st,passing_2nd,passing_3rd,passing_4th,pace_1st,pace_2nd,body_weight,body_diff
0,2018104746,2024-03-23,2.0,11,202407010511,16,4,8,9.8,5,...,1,1900,11.0,11.0,11.0,10.0,29.1,36.4,490.0,-4.0
1,2018104746,2024-01-14,0.0,10,202408010510,13,8,12,85.3,8,...,1,1800,10.0,11.0,12.0,10.0,37.1,36.1,494.0,0.0
2,2018104746,2023-12-23,0.0,10,202309050710,16,7,14,13.2,4,...,1,1800,12.0,13.0,11.0,10.0,36.9,37.9,494.0,-2.0
3,2018104746,2023-10-28,0.0,10,202308020810,15,7,14,3.0,1,...,1,1800,6.0,5.0,6.0,3.0,36.0,38.0,496.0,2.0
4,2018104746,2023-10-01,1.0,10,202309040910,12,8,12,7.0,4,...,1,1800,9.0,9.0,7.0,7.0,36.4,37.3,494.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178960,2018100141,2020-07-29,0.0,5,202030072905,7,6,6,2.1,1,...,1,1700,7.0,7.0,5.0,1.0,NaN,NaN,444.0,0.0
178961,2018100141,2020-07-01,1.0,9,202030070109,9,8,9,3.3,2,...,1,1700,9.0,9.0,9.0,8.0,NaN,NaN,444.0,-6.0
178962,2018100141,2020-06-18,0.0,5,202030061805,12,6,8,14.4,4,...,1,1700,11.0,11.0,9.0,5.0,NaN,NaN,450.0,0.0
178963,2018100141,2020-06-04,0.0,2,202030060402,11,6,6,4.4,2,...,1,1700,9.0,8.0,10.0,9.0,NaN,NaN,450.0,10.0
178964,2018100141,2020-05-05,0.0,5,202030050505,10,5,5,83.3,10,...,1,1100,10.0,9.0,NaN,NaN,NaN,NaN,440.0,0.0

## 0. データの整理

In [90]:
# 元のDataFrameをいじらないようにコピーする
df_horse_cp = df_horse.copy()

In [91]:
# 直近nレースから集約できるように並び替えておく
# データを追加していくときに必要
df_horse_cp = df_horse_cp.sort_values(by=["horse_id", "race_date"], ascending=[True, True])
df_horse_cp.head(20)

,horse_id,race_date,weather,race_no,race_id,num_of_horses,frame_no,horse_no,odds,popularity,...,course_state,distance_length,passing_1st,passing_2nd,passing_3rd,passing_4th,pace_1st,pace_2nd,body_weight,body_diff
20,2018104746,2021-01-24,1.0,5,202110010405,16,6,11,60.6,14,...,0,1800,14.0,13.0,13.0,11.0,37.9,36.6,490.0,0.0
19,2018104746,2021-02-13,0.0,7,202110020107,12,6,8,20.9,7,...,0,2000,6.0,6.0,7.0,8.0,37.9,35.3,484.0,-6.0
18,2018104746,2021-05-01,1.0,6,202104010706,16,6,11,9.6,4,...,0,2000,6.0,6.0,5.0,4.0,36.3,35.8,484.0,0.0
17,2018104746,2021-05-22,0.0,7,202104020507,16,3,5,31.9,7,...,0,1800,4.0,5.0,NaN,NaN,36.8,36.2,486.0,2.0
16,2018104746,2021-07-29,0.0,10,202150072910,12,2,2,7.4,4,...,1,1400,3.0,3.0,3.0,3.0,NaN,NaN,487.0,1.0
15,2018104746,2021-09-20,1.0,7,202107050507,10,8,10,14.2,6,...,1,1800,4.0,5.0,2.0,2.0,38.2,37.9,490.0,3.0
14,2018104746,2021-10-17,1.0,12,202104050412,11,6,7,21.9,8,...,1,1800,9.0,9.0,9.0,9.0,35.3,37.8,500.0,10.0
13,2018104746,2022-06-19,0.0,10,202209030210,16,2,3,13.7,7,...,1,1800,6.0,7.0,10.0,12.0,36.2,38.1,502.0,2.0
12,2018104746,2022-07-16,0.0,11,202210030511,16,3,6,9.4,6,...,1,1700,9.0,10.0,11.0,11.0,28.6,37.9,498.0,-4.0
11,2018104746,2022-09-19,3.0,11,202207050511,16,4,8,11.4,4,...,1,1800,4.0,5.0,6.0,6.0,36.7,37.4,496.0,-2.0
10,2018104746,2022-12-17,2.0,11,202207060511,16,1,2,15.2,8,...,1,1800,8.0,9.0,12.0,12.0,37.5,37.2,502.0,6.0
9,2018104746,2023-01-09,0.0,10,202307010410,16,6,12,40.4,8,...,1,1800,11.0,13.0,12.0,12.0,36.9,37.7,500.0,-2.0
8,2018104746,2023-02-12,0.0,10,202309010210,13,8,12,9.9,5,...,1,1800,7.0,6.0,5.0,4.0,37.2,37.4,494.0,-6.0
7,2018104746,2023-03-25,2.0,11,202307020511,16,1,2,6.3,4,...,1,1900,6.0,7.0,7.0,7.0,30.4,35.9,494.0,0.0
6,2018104746,2023-05-13,2.0,10,202308010710,16,1,1,7.6,4,...,1,1800,12.0,10.0,12.0,7.0,36.6,38.5,496.0,2.0
5,2018104746,2023-07-08,1.0,11,202307030311,16,6,12,18.2,7,...,1,1800,11.0,10.0,10.0,10.0,38.1,36.5,494.0,-2.0
4,2018104746,2023-10-01,1.0,10,202309040910,12,8,12,7.0,4,...,1,1800,9.0,9.0,7.0,7.0,36.4,37.3,494.0,0.0
3,2018104746,2023-10-28,0.0,10,202308020810,15,7,14,3.0,1,...,1,1800,6.0,5.0,6.0,3.0,36.0,38.0,496.0,2.0
2,2018104746,2023-12-23,0.0,10,202309050710,16,7,14,13.2,4,...,1,1800,12.0,13.0,11.0,10.0,36.9,37.9,494.0,-2.0
1,2018104746,2024-01-14,0.0,10,202408010510,13,8,12,85.3,8,...,1,1800,10.0,11.0,12.0,10.0,37.1,36.1,494.0,0.0

In [92]:
#　race_idをスクレイピングした期間のデータに絞る
df_horse_filtered = df_horse_cp[(df_horse_cp["race_date"] >= "2023-10-01") & (df_horse_cp["race_date"] <= "2024-04-30")]

In [93]:
# ---------------------
# 出走頭数と実際の頭数を比較して不整合なデータを削除
# ---------------------

# 1. race_id ごとに行数をカウント
race_counts = df_horse_filtered.groupby("race_id").size().rename("actual_horses")

# 2. num_of_horses と結合
df_check = df_horse_filtered.merge(race_counts, on="race_id")

# 2.5 num_of_horses を数値型に変換
df_check["num_of_horses"] = pd.to_numeric(df_check["num_of_horses"], errors="coerce")

# 3. 一致している race_id だけ残す
df_clean = df_check[df_check["actual_horses"] == df_check["num_of_horses"]]

## 1. 対数化したオッズのnレース平均

In [101]:
# オッズがstr型だったため数値に変更
df_clean["odds"] = pd.to_numeric(df_clean["odds"], errors="coerce")
# 対数化
df_clean['log_odds'] = np.log(df_clean['odds'])

C:\Users\yasak\AppData\Local\Temp\ipykernel_15272\2547872783.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean["odds"] = pd.to_numeric(df_clean["odds"], errors="coerce")
C:\Users\yasak\AppData\Local\Temp\ipykernel_15272\2547872783.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['log_odds'] = np.log(df_clean['odds'])

In [102]:
# 馬ごと各レース時点での過去3, 5, 10試合のlog_oddsの平均をとる

# 「今見ている行より下側」の log_odds を参照するために shift(-1)
df_clean["log_odds_shift"] = df_clean.groupby("horse_id")["log_odds"].shift(+1)
# レース時点での過去3, 5, 10レースの平均を計算
df_clean["log_odds_avg_3"] = (
    df_clean.groupby("horse_id")["log_odds_shift"]
      .rolling(3)
      .mean()
      .reset_index(level=0, drop=True)
)

df_clean["log_odds_avg_5"] = (
    df_clean.groupby("horse_id")["log_odds_shift"]
      .rolling(5)
      .mean()
      .reset_index(level=0, drop=True)
)

df_clean["log_odds_avg_10"] = (
    df_clean.groupby("horse_id")["log_odds_shift"]
      .rolling(10)
      .mean()
      .reset_index(level=0, drop=True)
)
# 不要な列を削除
df_clean = df_clean.drop(columns=["log_odds_shift"])

df_clean.head(20)

C:\Users\yasak\AppData\Local\Temp\ipykernel_15272\2690677551.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean["log_odds_shift"] = df_clean.groupby("horse_id")["log_odds"].shift(+1)
C:\Users\yasak\AppData\Local\Temp\ipykernel_15272\2690677551.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean["log_odds_avg_3"] = (
C:\Users\yasak\AppData\Local\Temp\ipykernel_15272\2690677551.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean["log_odds_avg_5"] = (
C:\Users\yasak\AppData\Local\Temp\ipykernel_15272\2690677551.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean["log_odds_avg_10"] = (

,horse_id,race_date,weather,race_no,race_id,num_of_horses,frame_no,horse_no,odds,popularity,...,passing_4th,pace_1st,pace_2nd,body_weight,body_diff,actual_horses,log_odds,log_odds_avg_3,log_odds_avg_5,log_odds_avg_10
0,2018104746,2023-10-01,1.0,10,202309040910,12,8,12,7.0,4,...,7.0,36.4,37.3,494.0,0.0,12,1.945910,NaN,NaN,NaN
2,2018104746,2023-12-23,0.0,10,202309050710,16,7,14,13.2,4,...,10.0,36.9,37.9,494.0,-2.0,16,2.580217,NaN,NaN,NaN
3,2018104746,2024-01-14,0.0,10,202408010510,13,8,12,85.3,8,...,10.0,37.1,36.1,494.0,0.0,13,4.446174,NaN,NaN,NaN
4,2018104746,2024-03-23,2.0,11,202407010511,16,4,8,9.8,5,...,10.0,29.1,36.4,490.0,-4.0,16,2.282382,2.990767,NaN,NaN
5,2011106610,2023-10-07,0.0,9,202308020109,11,8,10,262.8,11,...,NaN,36.0,33.5,478.0,4.0,11,5.571393,NaN,NaN,NaN
6,2011106610,2023-10-29,0.0,9,202308020909,9,2,2,222.4,9,...,NaN,36.5,33.4,478.0,0.0,9,5.404478,NaN,NaN,NaN
7,2011106610,2023-11-11,1.0,12,202305050312,8,7,7,206.9,8,...,NaN,35.9,34.9,494.0,16.0,8,5.332236,NaN,NaN,NaN
8,2011106610,2023-12-10,0.0,8,202309050408,8,1,1,211.8,8,...,7.0,38.2,33.7,480.0,-14.0,8,5.355642,5.436035,NaN,NaN
17,2012100683,2023-10-01,1.0,12,202309040912,16,7,14,42.2,12,...,NaN,34.1,37.6,482.0,-4.0,16,3.742420,NaN,NaN,NaN
18,2012100683,2023-10-22,0.0,12,202308020712,14,3,4,24.9,8,...,NaN,35.3,36.0,480.0,-2.0,14,3.214868,NaN,NaN,NaN
19,2012100683,2023-12-17,0.0,12,202309050612,16,4,8,107.7,10,...,NaN,33.6,37.5,482.0,2.0,16,4.679350,NaN,NaN,NaN
20,2012100683,2024-01-06,1.0,9,202408010109,12,6,7,238.0,12,...,NaN,34.6,37.2,486.0,4.0,12,5.472271,3.878879,NaN,NaN
21,2012100683,2024-02-17,0.0,10,202408020710,16,6,12,148.5,14,...,NaN,35.1,36.8,486.0,0.0,16,5.000585,4.455496,NaN,NaN
22,2012100683,2024-04-13,0.0,10,202409020710,15,8,15,276.8,13,...,NaN,34.5,37.1,490.0,4.0,15,5.623295,5.050735,4.421899,NaN
23,2012103532,2023-11-11,0.0,8,202308030308,12,3,3,22.8,8,...,7.0,108.1,0.0,418.0,6.0,12,3.126761,NaN,NaN,NaN
24,2012103532,2023-12-23,0.0,10,202306050710,12,8,11,19.2,7,...,8.0,108.0,0.0,414.0,-4.0,12,2.954910,NaN,NaN,NaN
25,2013101904,2023-11-11,0.0,8,202308030308,12,5,6,12.4,6,...,5.0,108.1,0.0,426.0,-4.0,12,2.517696,NaN,NaN,NaN
26,2013101904,2023-12-23,0.0,10,202306050710,12,7,10,142.9,10,...,7.0,108.0,0.0,422.0,-4.0,12,4.962145,NaN,NaN,NaN
27,2013101904,2024-02-24,0.0,8,202410020508,10,8,9,42.5,7,...,8.0,106.0,0.0,424.0,2.0,10,3.749504,NaN,NaN,NaN
29,2013106474,2023-11-04,0.0,10,202305050110,10,6,6,158.6,10,...,NaN,35.9,33.7,484.0,-4.0,10,5.066385,NaN,NaN,NaN

In [96]:
# # 各馬の3, 5, 10試合の平均をとる
# df_horse_cp_log_3 = df_horse_cp.groupby("horse_id").head(3).groupby("horse_id")["log_odds"].mean().rename("log_odd_avg_3")
# df_horse_cp_log_5 = df_horse_cp.groupby("horse_id").head(5).groupby("horse_id")["log_odds"].mean().rename("log_odd_avg_5")
# df_horse_cp_log_10 = df_horse_cp.groupby("horse_id").head(10).groupby("horse_id")["log_odds"].mean().rename("log_odd_avg_10")
# df_horse_feature = pd.concat([df_horse_cp_log_3, df_horse_cp_log_5, df_horse_cp_log_10], axis=1)
# df_horse_feature

## 2. 平均との差分を分布で割ったnレース平均(z-score)

In [103]:
df_clean['odds_zscore_in_race'] = (
    df_clean.groupby('race_id')['odds']
      .transform(lambda x: (x - x.mean()) / (x.std(ddof=0) + 1e-9))
)

In [104]:
df_clean

,horse_id,race_date,weather,race_no,race_id,num_of_horses,frame_no,horse_no,odds,popularity,...,pace_1st,pace_2nd,body_weight,body_diff,actual_horses,log_odds,log_odds_avg_3,log_odds_avg_5,log_odds_avg_10,odds_zscore_in_race
0,2018104746,2023-10-01,1.0,10,202309040910,12,8,12,7.0,4,...,36.4,37.3,494.0,0.0,12,1.945910,NaN,NaN,NaN,-0.537659
2,2018104746,2023-12-23,0.0,10,202309050710,16,7,14,13.2,4,...,36.9,37.9,494.0,-2.0,16,2.580217,NaN,NaN,NaN,-0.693216
3,2018104746,2024-01-14,0.0,10,202408010510,13,8,12,85.3,8,...,37.1,36.1,494.0,0.0,13,4.446174,NaN,NaN,NaN,-0.092268
4,2018104746,2024-03-23,2.0,11,202407010511,16,4,8,9.8,5,...,29.1,36.4,490.0,-4.0,16,2.282382,2.990767,NaN,NaN,-0.656637
5,2011106610,2023-10-07,0.0,9,202308020109,11,8,10,262.8,11,...,36.0,33.5,478.0,4.0,11,5.571393,NaN,NaN,NaN,3.105813
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32085,2021110164,2024-04-14,0.0,5,202406030805,16,2,4,1.3,1,...,34.3,36.3,514.0,-2.0,16,0.262364,NaN,NaN,NaN,-0.803143
32086,2021110166,2024-01-28,0.0,5,202408020205,13,6,9,19.0,7,...,37.6,35.6,450.0,0.0,13,2.944439,NaN,NaN,NaN,-0.489452
32087,2021110166,2024-02-24,0.0,5,202406020105,16,1,2,36.7,8,...,36.6,36.6,442.0,-8.0,16,3.602777,NaN,NaN,NaN,-0.481373
32088,2021110169,2024-01-14,0.0,5,202408010505,18,2,3,71.5,11,...,34.7,35.6,482.0,0.0,18,4.269697,NaN,NaN,NaN,-0.140009
32089,2021110169,2024-02-03,0.0,5,202408020305,16,7,14,86.4,11,...,34.1,36.4,482.0,0.0,16,4.458988,NaN,NaN,NaN,0.053744

In [ ]:
# df_horse_cp_zscore_3 = df_horse_cp.groupby("horse_id").head(3).groupby("horse_id")["odds_zscore_in_race"].mean().rename("odds_zscore_in_race_avg_3")
# df_horse_cp_zscore_5 = df_horse_cp.groupby("horse_id").head(5).groupby("horse_id")["odds_zscore_in_race"].mean().rename("odds_zscore_in_race_avg_5")
# df_horse_cp_zscore_10 = df_horse_cp.groupby("horse_id").head(10).groupby("horse_id")["odds_zscore_in_race"].mean().rename("odds_zscore_in_race_avg_10")
# df_horse_feature = pd.concat([df_horse_feature, df_horse_cp_zscore_3, df_horse_cp_zscore_5, df_horse_cp_zscore_10], axis=1)
# df_horse_feature

,log_odd_avg_3,log_odd_avg_5,log_odd_avg_10,odds_zscore_in_race_avg_3,odds_zscore_in_race_avg_5,odds_zscore_in_race_avg_10
horse_id,,,,,,
2018104746,3.102925,2.470659,2.511478,-0.480707,-0.622911,-0.647218
2011106610,2.819761,2.384378,2.496399,0.666667,0.400000,0.501704
2012100683,5.365384,4.798074,4.852995,1.701260,0.891548,1.454283
2012103532,3.229056,3.252588,2.825315,-0.122022,-0.263627,-0.033203
2013101904,3.743115,3.209764,3.164051,0.224404,-0.066513,0.095540
...,...,...,...,...,...,...
2021110162,3.813307,3.813307,3.813307,-0.502386,-0.502386,-0.502386
2021110163,2.605235,2.605235,2.605235,-0.590222,-0.590222,-0.590222
2021110164,1.044178,1.044178,1.044178,-0.819580,-0.819580,-0.819580
2021110166,3.273608,3.273608,3.273608,-0.485412,-0.485412,-0.485412
2021110169,4.364343,4.364343,4.364343,-0.043132,-0.043132,-0.043132

## 3. odds_rank_gap（オッズ順位と人気順位の乖離）
→この特徴量はボツ
</br>! odds_rank_gapは差分が全く発生しない（したとしてもオッズが同率のときくらい）ので特徴量としては使えない !

In [69]:
# --------------------
# odds_rank_gap（odds_rank と popularity の差分）
# --------------------

# オッズの順位を計算
df_horse_cp["odds_rank"] = (df_horse_cp.groupby("race_id")["odds"].rank(method="min", ascending=True))

# "popularity"がstr型だったためint型に変更
df_horse_cp["popularity"] = pd.to_numeric(df_horse_cp["popularity"], errors="coerce")
df_horse_cp["popularity"].apply(type).value_counts()

# オッズ順位と人気順位の差を計算(使わない)
df_horse_cp["odds_rank_gap"] = df_horse_cp["odds_rank"] - df_horse_cp["popularity"]

### 正しくrace_idがスクレイピングできていなかったときの検証用

In [64]:
df_horse_cp[df_horse_cp["odds_rank_gap"] >= 20].head()

,horse_id,race_date,weather,race_no,race_id,num_of_horses,frame_no,horse_no,odds,popularity,...,passing_3rd,passing_4th,pace_1st,pace_2nd,body_weight,body_diff,log_odds,odds_zscore_in_race,odds_rank,odds_rank_gap
73963,2016104877,20240428,NaN,,2024,11,,3,18.7,5.0,...,NaN,NaN,NaN,NaN,492.0,NaN,2.928524,0.192444,33.0,28.0
73965,2016104877,20231210,NaN,,2023,11,,5,24.2,6.0,...,NaN,NaN,NaN,NaN,485.0,NaN,3.186353,1.353680,32.0,26.0
121793,2017101010,20230325,0.0,,2023,15,,13,21.1,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,3.049273,1.026493,31.0,23.0
15424,2017101429,20231104,0.0,,2023,13,,4,12.2,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2.501436,0.087149,25.0,20.0
137740,2017101431,20230325,0.0,,2023,10,,10,19.8,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2.985682,0.889286,29.0,23.0

In [71]:
df_horse_cp["race_id"].astype(str).str.len().value_counts()

race_id
12    178676
4        289
Name: count, dtype: int64

In [73]:
df_horse_cp = df_horse_cp[df_horse_cp["race_id"].astype(str).str.fullmatch(r"\d{12}")]
df_horse_cp

,horse_id,race_date,weather,race_no,race_id,num_of_horses,frame_no,horse_no,odds,popularity,...,passing_3rd,passing_4th,pace_1st,pace_2nd,body_weight,body_diff,log_odds,odds_zscore_in_race,odds_rank,odds_rank_gap
0,2018104746,20240323,2.0,11,202407010511,16,4,8,9.8,5.0,...,11.0,10.0,29.1,36.4,490.0,-4.0,2.282382,-0.656637,5.0,0.0
1,2018104746,20240114,0.0,10,202408010510,13,8,12,85.3,8.0,...,12.0,10.0,37.1,36.1,494.0,0.0,4.446174,-0.092268,8.0,0.0
2,2018104746,20231223,0.0,10,202309050710,16,7,14,13.2,4.0,...,11.0,10.0,36.9,37.9,494.0,-2.0,2.580217,-0.693216,4.0,0.0
3,2018104746,20231028,0.0,10,202308020810,15,7,14,3.0,1.0,...,6.0,3.0,36.0,38.0,496.0,2.0,1.098612,-1.134776,1.0,0.0
4,2018104746,20231001,1.0,10,202309040910,12,8,12,7.0,4.0,...,7.0,7.0,36.4,37.3,494.0,0.0,1.945910,-0.537659,4.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157793,2021110166,20240518,0.0,7,202404010707,16,6,11,96.2,12.0,...,NaN,NaN,35.7,36.4,444.0,2.0,4.566429,0.154086,10.0,-2.0
157794,2021110166,20240224,0.0,5,202406020105,16,1,2,36.7,8.0,...,9.0,7.0,36.6,36.6,442.0,-8.0,3.602777,-0.481373,8.0,0.0
157795,2021110166,20240128,0.0,5,202408020205,13,6,9,19.0,7.0,...,13.0,12.0,37.6,35.6,450.0,0.0,2.944439,-0.489452,7.0,0.0
150658,2021110169,20240203,0.0,5,202408020305,16,7,14,86.4,11.0,...,NaN,NaN,34.1,36.4,482.0,0.0,4.458988,0.053744,11.0,0.0
150659,2021110169,20240114,0.0,5,202408010505,18,2,3,71.5,11.0,...,NaN,NaN,34.7,35.6,482.0,0.0,4.269697,-0.140009,11.0,0.0

In [77]:
df_horse_cp.head(10)

,horse_id,race_date,weather,race_no,race_id,num_of_horses,frame_no,horse_no,odds,popularity,...,passing_3rd,passing_4th,pace_1st,pace_2nd,body_weight,body_diff,log_odds,odds_zscore_in_race,odds_rank,odds_rank_gap
0,2018104746,20240323,2.0,11,202407010511,16,4,8,9.8,5.0,...,11.0,10.0,29.1,36.4,490.0,-4.0,2.282382,-0.656637,5.0,0.0
1,2018104746,20240114,0.0,10,202408010510,13,8,12,85.3,8.0,...,12.0,10.0,37.1,36.1,494.0,0.0,4.446174,-0.092268,8.0,0.0
2,2018104746,20231223,0.0,10,202309050710,16,7,14,13.2,4.0,...,11.0,10.0,36.9,37.9,494.0,-2.0,2.580217,-0.693216,4.0,0.0
3,2018104746,20231028,0.0,10,202308020810,15,7,14,3.0,1.0,...,6.0,3.0,36.0,38.0,496.0,2.0,1.098612,-1.134776,1.0,0.0
4,2018104746,20231001,1.0,10,202309040910,12,8,12,7.0,4.0,...,7.0,7.0,36.4,37.3,494.0,0.0,1.945910,-0.537659,4.0,0.0
5,2018104746,20230708,1.0,11,202307030311,16,6,12,18.2,7.0,...,10.0,10.0,38.1,36.5,494.0,-2.0,2.901422,-0.536254,6.0,-1.0
6,2018104746,20230513,2.0,10,202308010710,16,1,1,7.6,4.0,...,12.0,7.0,36.6,38.5,496.0,2.0,2.028148,-0.758972,4.0,0.0
7,2018104746,20230325,2.0,11,202307020511,16,1,2,6.3,4.0,...,7.0,7.0,30.4,35.9,494.0,0.0,1.840550,-1.146866,3.0,-1.0
8,2018104746,20230212,0.0,10,202309010210,13,8,12,9.9,5.0,...,5.0,4.0,37.2,37.4,494.0,-6.0,2.292535,-0.574388,3.0,-2.0
9,2018104746,20230109,0.0,10,202307010410,16,6,12,40.4,8.0,...,12.0,12.0,36.9,37.7,500.0,-2.0,3.698830,-0.341147,6.0,-2.0

In [74]:
df_horse_cp["race_id"].astype(str).str.len().value_counts()

race_id
12    178676
Name: count, dtype: int64

In [79]:
df_horse_cp[["odds_rank", "popularity"]].tail(20)

        odds_rank  popularity
164440        1.0         1.0
164441        1.0         1.0
164442        1.0         1.0
164443        4.0         4.0
157782        3.0        12.0
157783        2.0        12.0
157784        2.0         6.0
157785        4.0        10.0
157786        4.0         6.0
157787        2.0         4.0
157788        1.0         1.0
157789        2.0         3.0
157790       15.0        15.0
157791        9.0         9.0
157792        3.0         3.0
157793       10.0        12.0
157794        8.0         8.0
157795        7.0         7.0
150658       11.0        11.0
150659       11.0        11.0

In [82]:
df_horse_cp[df_horse_cp["odds_rank_gap"] <= -16]

,horse_id,race_date,weather,race_no,race_id,num_of_horses,frame_no,horse_no,odds,popularity,...,passing_3rd,passing_4th,pace_1st,pace_2nd,body_weight,body_diff,log_odds,odds_zscore_in_race,odds_rank,odds_rank_gap
26014,2015101654,20200628,1.0,11,202009030811,18,2,4,413.5,17.0,...,8.0,17.0,34.6,36.3,466.0,2.0,6.024658,0.0,1.0,-16.0
53962,2015103357,20180929,1.0,12,201809040812,18,7,13,211.3,18.0,...,NaN,NaN,35.3,36.0,462.0,0.0,5.353279,0.0,1.0,-17.0
95821,2016102801,20190519,0.0,4,201908031004,18,8,17,394.1,17.0,...,NaN,NaN,35.0,34.6,460.0,-4.0,5.976605,0.0,1.0,-16.0
90838,2016104982,20200830,0.0,9,202004030609,18,1,2,110.0,18.0,...,NaN,NaN,34.3,36.3,438.0,10.0,4.700480,1.0,2.0,-16.0
116072,2017100655,20200308,3.0,2,202007010402,18,7,13,378.9,17.0,...,NaN,NaN,35.6,36.6,382.0,0.0,5.937272,0.0,1.0,-16.0
71280,2017101777,20200920,0.0,11,202007020411,18,2,4,401.5,18.0,...,5.0,3.0,35.7,34.5,426.0,-20.0,5.995208,0.0,1.0,-17.0
91091,2017110112,20201123,0.0,12,202009050712,18,4,7,188.0,18.0,...,NaN,NaN,33.7,36.3,456.0,6.0,5.236442,1.0,2.0,-16.0

In [84]:
df_horse_cp[df_horse_cp["race_id"].astype(str) == "202009030811"]

,horse_id,race_date,weather,race_no,race_id,num_of_horses,frame_no,horse_no,odds,popularity,...,passing_3rd,passing_4th,pace_1st,pace_2nd,body_weight,body_diff,log_odds,odds_zscore_in_race,odds_rank,odds_rank_gap
26014,2015101654,20200628,1.0,11,202009030811,18,2,4,413.5,17.0,...,8.0,17.0,34.6,36.3,466.0,2.0,6.024658,0.0,1.0,-16.0