In [147]:
import numpy as np
import pandas as pd
import pickle

In [150]:
with open("C:\\Users\\yasak\\Desktop\\mykeibaAI\\data\\race_result_table.pkl", "rb") as f:
    # C:\Users\yasak\デスクトップ\Keiba_App\mykeibaAI_ver1p0\data\race_result_table.pkl
    # C:\\Users\\yasak\\Desktop\\mykeibaAI\\data\\race_result_table.pkl
    df_race = pickle.load(f)

print(df_race.columns)
print(f"Number of items: {len(df_race.columns)}")
df_race

Index(['date', 'race_id', 'is_win', 'rank', 'horse_id', 'weight_carried',
       'jockey_id', 'popularity', 'odds', 'last3f', 'trainer_id',
       'body_weight', 'sex', 'age', 'time_sec', 'body_diff'],
      dtype='object')
Number of items: 16

,date,race_id,is_win,rank,horse_id,weight_carried,jockey_id,popularity,odds,last3f,trainer_id,body_weight,sex,age,time_sec,body_diff
0,20231001,202309040910,1,1,2019105746,58.0,05203,5.0,7.2,35.9,01127,494.0,0,4.0,111.3,-4.0
1,20231001,202309040910,0,2,2019102983,58.0,01093,8.0,22.2,36.3,01069,494.0,0,4.0,111.4,-6.0
2,20231001,202309040910,0,3,2018104746,58.0,01174,4.0,7.0,36.8,00429,494.0,2,5.0,111.5,0.0
3,20231001,202309040910,0,4,2019100108,58.0,01157,11.0,33.9,37.1,01039,494.0,0,4.0,111.6,0.0
4,20231001,202309040910,0,5,2019103518,58.0,01128,10.0,30.1,36.8,00425,532.0,0,4.0,111.6,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28501,20240428,202408030411,0,14,2018104609,58.0,01157,8.0,39.8,39.4,01070,482.0,2,6.0,199.0,-4.0
28502,20240428,202408030411,0,15,2020103650,58.0,05386,2.0,2.8,40.5,01103,464.0,0,4.0,199.8,-8.0
28503,20240428,202408030411,0,16,2016104946,58.0,05212,7.0,34.6,40.3,01071,462.0,0,8.0,200.0,8.0
28504,20240428,202408030411,0,中止,2019100630,58.0,01115,15.0,199.1,NaN,01058,486.0,0,5.0,NaN,2.0
28505,20240428,202408030411,0,取消,2016104851,58.0,01180,NaN,NaN,NaN,01151,NaN,2,8.0,NaN,NaN

In [151]:
with open("C:\\Users\\yasak\\Desktop\\mykeibaAI\\data\\horse_result_table_2404.pkl", "rb") as f:
    # C:\\Users\\yasak\\Desktop\\mykeibaAI\\data\\horse_result_table_2404.pkl.pkl
    # C:\\Users\\yasak\\デスクトップ\\Keiba_App\\mykeibaAI_ver1p0\\data\\horse_result_table_2404.pkl
    df_horse = pickle.load(f)

print(df_horse.columns)
print(f"Number of items: {len(df_horse.columns)}")
df_horse

Index(['horse_id', 'race_date', 'weather', 'race_no', 'race_id',
       'num_of_horses', 'frame_no', 'horse_no', 'odds', 'popularity',
       'finish_position', 'jockey_id', 'weight', 'course_condition', 'time',
       'margin', 'final_3f', 'prize_money', 'course_state', 'distance_length',
       'passing_1st', 'passing_2nd', 'passing_3rd', 'passing_4th', 'pace_1st',
       'pace_2nd', 'body_weight', 'body_diff'],
      dtype='object')
Number of items: 28

,horse_id,race_date,weather,race_no,race_id,num_of_horses,frame_no,horse_no,odds,popularity,...,course_state,distance_length,passing_1st,passing_2nd,passing_3rd,passing_4th,pace_1st,pace_2nd,body_weight,body_diff
0,2018104746,2024-03-23,2.0,11,202407010511,16,4,8,9.8,5,...,1,1900,11.0,11.0,11.0,10.0,29.1,36.4,490.0,-4.0
1,2018104746,2024-01-14,0.0,10,202408010510,13,8,12,85.3,8,...,1,1800,10.0,11.0,12.0,10.0,37.1,36.1,494.0,0.0
2,2018104746,2023-12-23,0.0,10,202309050710,16,7,14,13.2,4,...,1,1800,12.0,13.0,11.0,10.0,36.9,37.9,494.0,-2.0
3,2018104746,2023-10-28,0.0,10,202308020810,15,7,14,3.0,1,...,1,1800,6.0,5.0,6.0,3.0,36.0,38.0,496.0,2.0
4,2018104746,2023-10-01,1.0,10,202309040910,12,8,12,7.0,4,...,1,1800,9.0,9.0,7.0,7.0,36.4,37.3,494.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178960,2018100141,2020-07-29,0.0,5,202030072905,7,6,6,2.1,1,...,1,1700,7.0,7.0,5.0,1.0,NaN,NaN,444.0,0.0
178961,2018100141,2020-07-01,1.0,9,202030070109,9,8,9,3.3,2,...,1,1700,9.0,9.0,9.0,8.0,NaN,NaN,444.0,-6.0
178962,2018100141,2020-06-18,0.0,5,202030061805,12,6,8,14.4,4,...,1,1700,11.0,11.0,9.0,5.0,NaN,NaN,450.0,0.0
178963,2018100141,2020-06-04,0.0,2,202030060402,11,6,6,4.4,2,...,1,1700,9.0,8.0,10.0,9.0,NaN,NaN,450.0,10.0
178964,2018100141,2020-05-05,0.0,5,202030050505,10,5,5,83.3,10,...,1,1100,10.0,9.0,NaN,NaN,NaN,NaN,440.0,0.0

In [152]:
# idのカラムをすべて文字列型に変換し、前後の空白を削除する
df_race["race_id"] = df_race["race_id"].astype(str).str.strip()
df_race["horse_id"] = df_race["horse_id"].astype(str).str.strip()
df_horse["race_id"] = df_horse["race_id"].astype(str).str.strip()
df_horse["horse_id"] = df_horse["horse_id"].astype(str).str.strip()

In [167]:
# 直近nレースから集約できるように並び替えておく
df_horse = df_horse.sort_values(by=["horse_id", "race_date"], ascending=[True, True])
# race_idをスクレイピングした期間のデータに絞る
df_horse_indate = df_horse[(df_horse["race_date"] >= "2023-10-01") & (df_horse["race_date"] <= "2024-04-30")].copy()

# 1. "取"(取消), "除"(除外), ""(空欄)になっている行を出走頭数(actual_horses)のカウントから除外する
df_horse_indate.loc[:, "is_cash"] = df_horse_indate["finish_position"].astype(str).str.strip().isin(["取", "除", ""])
actual_counts = df_horse_indate[~df_horse_indate["is_cash"]].groupby("race_id").size().rename("actual_horses")

# 2. num_of_horses と結合
df_check = df_horse_indate.merge(actual_counts, on="race_id")
# 2.5 num_of_horses を数値型に変換
df_check.loc[:, "num_of_horses"] = pd.to_numeric(df_check["num_of_horses"], errors="coerce")

# 3. 一致しているデータだけ残す
df_clean = df_check[df_check["actual_horses"] == df_check["num_of_horses"]].copy()

# 4. 地方競馬場のデータを除外する
# race_idの5-6桁目を抽出（1-basedで5-6桁 → 0-based slice [4:6]）
df_clean.loc[:, 'race_course_code'] = df_clean['race_id'].str[4:6]
jra_codes = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10"]  # JRAの中央競馬場コード
df_clean = df_clean[df_clean['race_course_code'].isin(jra_codes)]
df_clean

,horse_id,race_date,weather,race_no,race_id,num_of_horses,frame_no,horse_no,odds,popularity,...,passing_2nd,passing_3rd,passing_4th,pace_1st,pace_2nd,body_weight,body_diff,is_cash,actual_horses,race_course_code
0,2011106610,2023-10-07,0.0,9,202308020109,11,8,10,262.8,11,...,10.0,NaN,NaN,36.0,33.5,478.0,4.0,False,11,08
1,2011106610,2023-10-29,0.0,9,202308020909,9,2,2,222.4,9,...,7.0,NaN,NaN,36.5,33.4,478.0,0.0,False,9,08
2,2011106610,2023-11-11,1.0,12,202305050312,8,7,7,206.9,8,...,6.0,NaN,NaN,35.9,34.9,494.0,16.0,False,8,05
3,2011106610,2023-12-10,0.0,8,202309050408,8,1,1,211.8,8,...,8.0,8.0,7.0,38.2,33.7,480.0,-14.0,False,8,09
12,2012100683,2023-10-01,1.0,12,202309040912,16,7,14,42.2,12,...,8.0,NaN,NaN,34.1,37.6,482.0,-4.0,False,16,09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32056,2021110164,2024-04-14,0.0,5,202406030805,16,2,4,1.3,1,...,1.0,NaN,NaN,34.3,36.3,514.0,-2.0,False,16,06
32057,2021110166,2024-01-28,0.0,5,202408020205,13,6,9,19.0,7,...,13.0,13.0,12.0,37.6,35.6,450.0,0.0,False,13,08
32058,2021110166,2024-02-24,0.0,5,202406020105,16,1,2,36.7,8,...,7.0,9.0,7.0,36.6,36.6,442.0,-8.0,False,16,06
32059,2021110169,2024-01-14,0.0,5,202408010505,18,2,3,71.5,11,...,1.0,NaN,NaN,34.7,35.6,482.0,0.0,False,18,08
32060,2021110169,2024-02-03,0.0,5,202408020305,16,7,14,86.4,11,...,2.0,NaN,NaN,34.1,36.4,482.0,0.0,False,16,08

In [ ]:
# 直近nレースから集約できるように並び替えておく
df_horse = df_horse.sort_values(by=["horse_id", "race_date"], ascending=[True, True])
# race_idをスクレイピングした期間のデータに絞る
df_horse_indate = df_horse[(df_horse["race_date"] >= "2023-10-01") & (df_horse["race_date"] <= "2024-04-30")]

# 1. "取"(取消), "除"(除外), ""(空欄)になっている行を出走頭数(actual_horses)のカウントから除外する
df_horse_indate["is_cash"] = df_horse_indate["finish_position"].astype(str).str.strip().isin(["取", "除", ""])
actual_counts = df_horse_indate[~df_horse_indate["is_cash"]].groupby("race_id").size().rename("actual_horses")

# 2. num_of_horses と結合
df_check = df_horse_indate.merge(actual_counts, on="race_id")
# 2.5 num_of_horses を数値型に変換
df_check["num_of_horses"] = pd.to_numeric(df_check["num_of_horses"], errors="coerce")

# 3. 一致しているデータだけ残す
df_clean = df_check[df_check["actual_horses"] == df_check["num_of_horses"]]

# 4. 地方競馬場のデータを除外する
# race_idの5-6桁目を抽出（1-basedで5-6桁 → 0-based slice [4:6]）
df_clean['race_course_code'] = df_clean['race_id'].str[4:6]
jra_codes = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10"]  # JRAの中央競馬場コード
df_clean = df_clean[df_clean['race_course_code'].isin(jra_codes)]
df_clean

C:\Users\yasak\AppData\Local\Temp\ipykernel_19616\332325789.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_horse_indate["is_cash"] = df_horse_indate["finish_position"].astype(str).str.strip().isin(["取", "除", ""])
C:\Users\yasak\AppData\Local\Temp\ipykernel_19616\332325789.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['race_course_code'] = df_clean['race_id'].str[4:6]

,horse_id,race_date,weather,race_no,race_id,num_of_horses,frame_no,horse_no,odds,popularity,...,passing_2nd,passing_3rd,passing_4th,pace_1st,pace_2nd,body_weight,body_diff,is_cash,actual_horses,race_course_code
0,2011106610,2023-10-07,0.0,9,202308020109,11,8,10,262.8,11,...,10.0,NaN,NaN,36.0,33.5,478.0,4.0,False,11,08
1,2011106610,2023-10-29,0.0,9,202308020909,9,2,2,222.4,9,...,7.0,NaN,NaN,36.5,33.4,478.0,0.0,False,9,08
2,2011106610,2023-11-11,1.0,12,202305050312,8,7,7,206.9,8,...,6.0,NaN,NaN,35.9,34.9,494.0,16.0,False,8,05
3,2011106610,2023-12-10,0.0,8,202309050408,8,1,1,211.8,8,...,8.0,8.0,7.0,38.2,33.7,480.0,-14.0,False,8,09
12,2012100683,2023-10-01,1.0,12,202309040912,16,7,14,42.2,12,...,8.0,NaN,NaN,34.1,37.6,482.0,-4.0,False,16,09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32056,2021110164,2024-04-14,0.0,5,202406030805,16,2,4,1.3,1,...,1.0,NaN,NaN,34.3,36.3,514.0,-2.0,False,16,06
32057,2021110166,2024-01-28,0.0,5,202408020205,13,6,9,19.0,7,...,13.0,13.0,12.0,37.6,35.6,450.0,0.0,False,13,08
32058,2021110166,2024-02-24,0.0,5,202406020105,16,1,2,36.7,8,...,7.0,9.0,7.0,36.6,36.6,442.0,-8.0,False,16,06
32059,2021110169,2024-01-14,0.0,5,202408010505,18,2,3,71.5,11,...,1.0,NaN,NaN,34.7,35.6,482.0,0.0,False,18,08
32060,2021110169,2024-02-03,0.0,5,202408020305,16,7,14,86.4,11,...,2.0,NaN,NaN,34.1,36.4,482.0,0.0,False,16,08

In [168]:
# 直近nレースから集約できるように並び替えておく
df_horse = df_horse.sort_values(by=["horse_id", "race_date"], ascending=[True, True])
# race_idをスクレイピングした期間のデータに絞る
df_horse_filtered = df_horse[(df_horse["race_date"] >= "2023-10-01") & (df_horse["race_date"] <= "2024-04-30")]

# ---------------------
# 出走頭数と実際の頭数を比較して不整合なデータを削除
# ---------------------

# 1. race_id ごとに行数をカウント
race_counts = df_horse_filtered.groupby("race_id").size().rename("actual_horses")

# 2. num_of_horses と結合
df_check = df_horse_filtered.merge(race_counts, on="race_id")

# 2.5 num_of_horses を数値型に変換
df_check["num_of_horses"] = pd.to_numeric(df_check["num_of_horses"], errors="coerce")

# 3. 一致しているデータだけ残す
df_clean = df_check[df_check["actual_horses"] == df_check["num_of_horses"]]
df_clean

,horse_id,race_date,weather,race_no,race_id,num_of_horses,frame_no,horse_no,odds,popularity,...,distance_length,passing_1st,passing_2nd,passing_3rd,passing_4th,pace_1st,pace_2nd,body_weight,body_diff,actual_horses
0,2011106610,2023-10-07,0.0,9,202308020109,11,8,10,262.8,11,...,1600,10.0,10.0,NaN,NaN,36.0,33.5,478.0,4.0,11
1,2011106610,2023-10-29,0.0,9,202308020909,9,2,2,222.4,9,...,1800,7.0,7.0,NaN,NaN,36.5,33.4,478.0,0.0,9
2,2011106610,2023-11-11,1.0,12,202305050312,8,7,7,206.9,8,...,1600,6.0,6.0,NaN,NaN,35.9,34.9,494.0,16.0,8
3,2011106610,2023-12-10,0.0,8,202309050408,8,1,1,211.8,8,...,2400,8.0,8.0,8.0,7.0,38.2,33.7,480.0,-14.0,8
12,2012100683,2023-10-01,1.0,12,202309040912,16,7,14,42.2,12,...,1400,7.0,8.0,NaN,NaN,34.1,37.6,482.0,-4.0,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32085,2021110164,2024-04-14,0.0,5,202406030805,16,2,4,1.3,1,...,1200,1.0,1.0,NaN,NaN,34.3,36.3,514.0,-2.0,16
32086,2021110166,2024-01-28,0.0,5,202408020205,13,6,9,19.0,7,...,2000,12.0,13.0,13.0,12.0,37.6,35.6,450.0,0.0,13
32087,2021110166,2024-02-24,0.0,5,202406020105,16,1,2,36.7,8,...,2000,8.0,7.0,9.0,7.0,36.6,36.6,442.0,-8.0,16
32088,2021110169,2024-01-14,0.0,5,202408010505,18,2,3,71.5,11,...,1600,1.0,1.0,NaN,NaN,34.7,35.6,482.0,0.0,18
32089,2021110169,2024-02-03,0.0,5,202408020305,16,7,14,86.4,11,...,1600,2.0,2.0,NaN,NaN,34.1,36.4,482.0,0.0,16

In [169]:
# 一致していないデータを抽出
df_inconsistent = df_check[df_check["actual_horses"] != df_check["num_of_horses"]]
df_inconsistent[df_inconsistent["race_id"] == "202410020411"]

,horse_id,race_date,weather,race_no,race_id,num_of_horses,frame_no,horse_no,odds,popularity,...,distance_length,passing_1st,passing_2nd,passing_3rd,passing_4th,pace_1st,pace_2nd,body_weight,body_diff,actual_horses
79,2015100744,2024-02-18,0.0,11,202410020411,15,5,10,73.2,13,...,1800,9.0,9.0,10.0,13.0,35.0,36.5,492.0,2.0,16
367,2016102175,2024-02-18,0.0,11,202410020411,15,2,3,8.8,5,...,1800,12.0,12.0,12.0,11.0,35.0,36.5,478.0,0.0,16
534,2016104711,2024-02-18,0.0,11,202410020411,15,1,2,14.3,6,...,1800,14.0,14.0,14.0,13.0,35.0,36.5,490.0,2.0,16
599,2016105272,2024-02-18,0.0,11,202410020411,15,8,16,86.2,14,...,1800,5.0,5.0,4.0,6.0,35.0,36.5,508.0,-8.0,16
1148,2017103201,2024-02-18,0.0,11,202410020411,15,3,5,15.6,7,...,1800,7.0,7.0,8.0,9.0,35.0,36.5,486.0,-2.0,16
1523,2017105214,2024-02-18,0.0,11,202410020411,15,3,6,44.6,12,...,1800,3.0,3.0,3.0,4.0,35.0,36.5,444.0,0.0,16
2316,2018101071,2024-02-18,0.0,11,202410020411,15,2,4,27.2,11,...,1800,12.0,12.0,12.0,11.0,35.0,36.5,506.0,0.0,16
3491,2018104475,2024-02-18,0.0,11,202410020411,15,1,1,,,...,1800,NaN,NaN,NaN,NaN,35.0,36.5,NaN,NaN,16
3655,2018104708,2024-02-18,0.0,11,202410020411,15,6,11,6.6,4,...,1800,10.0,11.0,10.0,9.0,35.0,36.5,478.0,-4.0,16
4038,2018105192,2024-02-18,0.0,11,202410020411,15,8,15,16.4,8,...,1800,NaN,NaN,NaN,NaN,35.0,36.5,510.0,-2.0,16
4058,2018105215,2024-02-18,0.0,11,202410020411,15,7,13,100.1,15,...,1800,6.0,5.0,6.0,6.0,35.0,36.5,484.0,8.0,16
5421,2019100824,2024-02-18,0.0,11,202410020411,15,7,14,4.8,2,...,1800,10.0,9.0,8.0,6.0,35.0,36.5,492.0,0.0,16
8556,2019105252,2024-02-18,0.0,11,202410020411,15,4,7,4.7,1,...,1800,4.0,4.0,4.0,3.0,35.0,36.5,444.0,-2.0,16
8714,2019105366,2024-02-18,0.0,11,202410020411,15,4,8,17.7,9,...,1800,2.0,2.0,2.0,2.0,35.0,36.5,478.0,-8.0,16
8958,2019105532,2024-02-18,0.0,11,202410020411,15,6,12,5.8,3,...,1800,7.0,7.0,6.0,4.0,35.0,36.5,504.0,-2.0,16
9690,2019106670,2024-02-18,0.0,11,202410020411,15,5,9,18.8,10,...,1800,1.0,1.0,1.0,1.0,35.0,36.5,442.0,2.0,16

In [170]:
merged = df_race.merge(
    df_clean,
    on=["horse_id", "race_id"],
    how="outer",
    indicator=True
)
matched_count = (merged["_merge"] == "both").sum()
print(f"Number of matched records: {matched_count}")
unmatched_count = (merged["_merge"] != "both").sum()
print(f"Number of unmatched records: {unmatched_count}")

Number of matched records: 27012
Number of unmatched records: 1635

In [ ]:
unmatched_rows = merged[merged["_merge"] != "both"][["horse_id", "race_id"]]
unmatched_rows

         horse_id       race_id
15075  2021100262  202447041802
15076  2021100262  202447042609
15093  2021100272  202448042502
15203  2021100336  202448041202
15204  2021100336  202448042502
...           ...           ...
27995  2021107341  202447041802
28189  2021109115  202447042609
28200  2021109128  202447042609
28223  2021109170  202450041110
28449  2021110097  202450041110

[120 rows x 2 columns]

In [45]:
df_race[(df_race["horse_id"] == "2015100744") & (df_race["race_id"] == "202410020411")]

,date,race_id,is_win,rank,horse_id,weight_carried,jockey_id,popularity,odds,last3f,trainer_id,body_weight,sex,age,time_sec,body_diff
18736,20240218,202410020411,0,13,2015100744,56.0,01127,13.0,73.2,35.4,01038,492.0,0,9.0,106.5,2.0

In [46]:
df_clean[(df_clean["horse_id"] == "2015100744") & (df_clean["race_id"] == "202410020411")]

,horse_id,race_date,weather,race_no,race_id,num_of_horses,frame_no,horse_no,odds,popularity,...,passing_1st,passing_2nd,passing_3rd,passing_4th,pace_1st,pace_2nd,body_weight,body_diff,is_cash,actual_horses
79,2015100744,2024-02-18,0.0,11,202410020411,15,5,10,73.2,13,...,9.0,9.0,10.0,13.0,35.0,36.5,492.0,2.0,False,15

### 1. 対数化したオッズの取得

In [158]:
# オッズがstr型だったため数値に変更
df_clean["odds"] = pd.to_numeric(df_clean["odds"], errors="coerce")
# 対数化
df_clean['log_odds'] = np.log(df_clean['odds'])

In [159]:
# 馬ごと各レース時点での過去3, 5, 10試合のlog_oddsの平均をとる

# 「今見ている行より下側」の log_odds を参照するために shift(-1)
df_clean["log_odds_shift"] = df_clean.groupby("horse_id")["log_odds"].shift(+1)
# レース時点での過去3, 5, 10レースの平均を計算
df_clean["log_odds_avg_3"] = (
    df_clean.groupby("horse_id")["log_odds_shift"]
      .rolling(3)
      .mean()
      .reset_index(level=0, drop=True)
)

df_clean["log_odds_avg_5"] = (
    df_clean.groupby("horse_id")["log_odds_shift"]
      .rolling(5)
      .mean()
      .reset_index(level=0, drop=True)
)

df_clean["log_odds_avg_10"] = (
    df_clean.groupby("horse_id")["log_odds_shift"]
      .rolling(10)
      .mean()
      .reset_index(level=0, drop=True)
)
# 不要な列を削除
df_clean = df_clean.drop(columns=["log_odds_shift"])

df_clean.head(20)

,horse_id,race_date,weather,race_no,race_id,num_of_horses,frame_no,horse_no,odds,popularity,...,pace_2nd,body_weight,body_diff,is_cash,actual_horses,race_course_code,log_odds,log_odds_avg_3,log_odds_avg_5,log_odds_avg_10
0,2011106610,2023-10-07,0.0,9,202308020109,11,8,10,262.8,11,...,33.5,478.0,4.0,False,11,08,5.571393,NaN,NaN,NaN
1,2011106610,2023-10-29,0.0,9,202308020909,9,2,2,222.4,9,...,33.4,478.0,0.0,False,9,08,5.404478,NaN,NaN,NaN
2,2011106610,2023-11-11,1.0,12,202305050312,8,7,7,206.9,8,...,34.9,494.0,16.0,False,8,05,5.332236,NaN,NaN,NaN
3,2011106610,2023-12-10,0.0,8,202309050408,8,1,1,211.8,8,...,33.7,480.0,-14.0,False,8,09,5.355642,5.436035,NaN,NaN
12,2012100683,2023-10-01,1.0,12,202309040912,16,7,14,42.2,12,...,37.6,482.0,-4.0,False,16,09,3.742420,NaN,NaN,NaN
13,2012100683,2023-10-22,0.0,12,202308020712,14,3,4,24.9,8,...,36.0,480.0,-2.0,False,14,08,3.214868,NaN,NaN,NaN
14,2012100683,2023-12-17,0.0,12,202309050612,16,4,8,107.7,10,...,37.5,482.0,2.0,False,16,09,4.679350,NaN,NaN,NaN
15,2012100683,2024-01-06,1.0,9,202408010109,12,6,7,238.0,12,...,37.2,486.0,4.0,False,12,08,5.472271,3.878879,NaN,NaN
16,2012100683,2024-02-17,0.0,10,202408020710,16,6,12,148.5,14,...,36.8,486.0,0.0,False,16,08,5.000585,4.455496,NaN,NaN
17,2012100683,2024-04-13,0.0,10,202409020710,15,8,15,276.8,13,...,37.1,490.0,4.0,False,15,09,5.623295,5.050735,4.421899,NaN
18,2012103532,2023-11-11,0.0,8,202308030308,12,3,3,22.8,8,...,0.0,418.0,6.0,False,12,08,3.126761,NaN,NaN,NaN
19,2012103532,2023-12-23,0.0,10,202306050710,12,8,11,19.2,7,...,0.0,414.0,-4.0,False,12,06,2.954910,NaN,NaN,NaN
20,2013101904,2023-11-11,0.0,8,202308030308,12,5,6,12.4,6,...,0.0,426.0,-4.0,False,12,08,2.517696,NaN,NaN,NaN
21,2013101904,2023-12-23,0.0,10,202306050710,12,7,10,142.9,10,...,0.0,422.0,-4.0,False,12,06,4.962145,NaN,NaN,NaN
22,2013101904,2024-02-24,0.0,8,202410020508,10,8,9,42.5,7,...,0.0,424.0,2.0,False,10,10,3.749504,NaN,NaN,NaN
23,2013106055,2023-10-28,3.0,4,202304040504,13,5,7,12.1,5,...,0.0,484.0,8.0,False,13,04,2.493205,NaN,NaN,NaN
24,2013106474,2023-11-04,0.0,10,202305050110,10,6,6,158.6,10,...,33.7,484.0,-4.0,False,10,05,5.066385,NaN,NaN,NaN
25,2014100555,2023-11-11,1.0,10,202305050310,15,3,4,315.6,15,...,33.8,486.0,0.0,False,15,05,5.754476,NaN,NaN,NaN
26,2014100555,2023-12-17,0.0,10,202309050610,18,3,6,370.6,18,...,35.9,492.0,6.0,False,18,09,5.915123,NaN,NaN,NaN
27,2014100566,2023-10-22,0.0,12,202305040712,16,5,10,246.9,16,...,38.3,552.0,12.0,False,16,05,5.508983,NaN,NaN,NaN

### 2. 平均との差分を分布で割ったnレース平均(z-score)

In [160]:
df_clean['odds_zscore_in_race'] = (
    df_clean.groupby('race_id')['odds']
      .transform(lambda x: (x - x.mean()) / (x.std(ddof=0) + 1e-9))
)

In [161]:
df_clean

,horse_id,race_date,weather,race_no,race_id,num_of_horses,frame_no,horse_no,odds,popularity,...,body_weight,body_diff,is_cash,actual_horses,race_course_code,log_odds,log_odds_avg_3,log_odds_avg_5,log_odds_avg_10,odds_zscore_in_race
0,2011106610,2023-10-07,0.0,9,202308020109,11,8,10,262.8,11,...,478.0,4.0,False,11,08,5.571393,NaN,NaN,NaN,3.105813
1,2011106610,2023-10-29,0.0,9,202308020909,9,2,2,222.4,9,...,478.0,0.0,False,9,08,5.404478,NaN,NaN,NaN,2.751182
2,2011106610,2023-11-11,1.0,12,202305050312,8,7,7,206.9,8,...,494.0,16.0,False,8,05,5.332236,NaN,NaN,NaN,2.509235
3,2011106610,2023-12-10,0.0,8,202309050408,8,1,1,211.8,8,...,480.0,-14.0,False,8,09,5.355642,5.436035,NaN,NaN,2.507801
12,2012100683,2023-10-01,1.0,12,202309040912,16,7,14,42.2,12,...,482.0,-4.0,False,16,09,3.742420,NaN,NaN,NaN,0.144944
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32056,2021110164,2024-04-14,0.0,5,202406030805,16,2,4,1.3,1,...,514.0,-2.0,False,16,06,0.262364,NaN,NaN,NaN,-0.803143
32057,2021110166,2024-01-28,0.0,5,202408020205,13,6,9,19.0,7,...,450.0,0.0,False,13,08,2.944439,NaN,NaN,NaN,-0.489452
32058,2021110166,2024-02-24,0.0,5,202406020105,16,1,2,36.7,8,...,442.0,-8.0,False,16,06,3.602777,NaN,NaN,NaN,-0.481373
32059,2021110169,2024-01-14,0.0,5,202408010505,18,2,3,71.5,11,...,482.0,0.0,False,18,08,4.269697,NaN,NaN,NaN,-0.140009
32060,2021110169,2024-02-03,0.0,5,202408020305,16,7,14,86.4,11,...,482.0,0.0,False,16,08,4.458988,NaN,NaN,NaN,0.053744

## テーブルのマージ（horse to race）

In [162]:
# 抽出する特徴量の指定
feature_cols = ["horse_id", "race_id", "weather", "course_condition", "course_state", "distance_length", "log_odds", "log_odds_avg_3", "log_odds_avg_5", "log_odds_avg_10", "odds_zscore_in_race"]
df_merged_race = df_race.merge(df_clean[feature_cols], on=["horse_id", "race_id"], how="left")

In [163]:
df_merged_race

,date,race_id,is_win,rank,horse_id,weight_carried,jockey_id,popularity,odds,last3f,...,body_diff,weather,course_condition,course_state,distance_length,log_odds,log_odds_avg_3,log_odds_avg_5,log_odds_avg_10,odds_zscore_in_race
0,20231001,202309040910,1,1,2019105746,58.0,05203,5.0,7.2,35.9,...,-4.0,1.0,2.0,1,1800,1.974081,NaN,NaN,NaN,-0.531361
1,20231001,202309040910,0,2,2019102983,58.0,01093,8.0,22.2,36.3,...,-6.0,1.0,2.0,1,1800,3.100092,NaN,NaN,NaN,-0.059040
2,20231001,202309040910,0,3,2018104746,58.0,01174,4.0,7.0,36.8,...,0.0,1.0,2.0,1,1800,1.945910,NaN,NaN,NaN,-0.537659
3,20231001,202309040910,0,4,2019100108,58.0,01157,11.0,33.9,37.1,...,0.0,1.0,2.0,1,1800,3.523415,NaN,NaN,NaN,0.309370
4,20231001,202309040910,0,5,2019103518,58.0,01128,10.0,30.1,36.8,...,8.0,1.0,2.0,1,1800,3.404525,NaN,NaN,NaN,0.189716
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28501,20240428,202408030411,0,14,2018104609,58.0,01157,8.0,39.8,39.4,...,-4.0,0.0,0.0,0,3200,3.683867,1.886842,NaN,NaN,-0.502945
28502,20240428,202408030411,0,15,2020103650,58.0,05386,2.0,2.8,40.5,...,-8.0,0.0,0.0,0,3200,1.029619,NaN,NaN,NaN,-0.838668
28503,20240428,202408030411,0,16,2016104946,58.0,05212,7.0,34.6,40.3,...,8.0,0.0,0.0,0,3200,3.543854,NaN,NaN,NaN,-0.550127
28504,20240428,202408030411,0,中止,2019100630,58.0,01115,15.0,199.1,NaN,...,2.0,0.0,0.0,0,3200,5.293807,1.339682,NaN,NaN,0.942481
28505,20240428,202408030411,0,取消,2016104851,58.0,01180,NaN,NaN,NaN,...,NaN,0.0,0.0,0,3200,NaN,NaN,NaN,NaN,NaN

In [164]:
df_merged_race["log_odds_avg_3"].dropna().value_counts()

log_odds_avg_3
0.915757    3
1.522697    3
1.031557    2
0.998044    2
1.353665    2
           ..
1.355212    1
2.498536    1
2.097393    1
1.886842    1
4.175896    1
Name: count, Length: 6871, dtype: int64

In [131]:
df_clean["log_odds_avg_3"].dropna().value_counts()

log_odds_avg_3
0.915757    3
1.522697    3
1.448212    2
2.044437    2
1.356855    2
           ..
2.549707    1
0.770184    1
0.834903    1
0.842229    1
4.069327    1
Name: count, Length: 6169, dtype: int64

デバッグ

In [122]:
df_race["race_id"].apply(lambda x: type(x)).value_counts()

race_id
<class 'str'>    28506
Name: count, dtype: int64

In [124]:
df_clean["horse_id"].apply(lambda x: type(x)).value_counts()

horse_id
<class 'str'>    27153
Name: count, dtype: int64

In [ ]:
df_race[["horse_id", "race_id"]].isna().sum()

horse_id    0
race_id     0
dtype: int64

In [21]:
df_clean[["horse_id", "race_id"]].isna().sum()

horse_id    0
race_id     0
dtype: int64

In [23]:
df_clean[["weather"]].isna().sum()

weather    0
dtype: int64

In [26]:
merged = df_race.merge(df_clean, on=["horse_id", "race_id"], how="left")
missing = merged[merged["weather"].isna()]
merged

,date,race_id,is_win,rank,horse_id,weight_carried,jockey_id_x,popularity_x,odds_x,last3f,...,pace_1st,pace_2nd,body_weight_y,body_diff_y,actual_horses,log_odds,log_odds_avg_3,log_odds_avg_5,log_odds_avg_10,odds_zscore_in_race
0,20231001,202309040910,1,1,2019105746,58.0,05203,5.0,7.2,35.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20231001,202309040910,0,2,2019102983,58.0,01093,8.0,22.2,36.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20231001,202309040910,0,3,2018104746,58.0,01174,4.0,7.0,36.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20231001,202309040910,0,4,2019100108,58.0,01157,11.0,33.9,37.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20231001,202309040910,0,5,2019103518,58.0,01128,10.0,30.1,36.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28501,20240428,202408030411,0,14,2018104609,58.0,01157,8.0,39.8,39.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28502,20240428,202408030411,0,15,2020103650,58.0,05386,2.0,2.8,40.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28503,20240428,202408030411,0,16,2016104946,58.0,05212,7.0,34.6,40.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28504,20240428,202408030411,0,中止,2019100630,58.0,01115,15.0,199.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28505,20240428,202408030411,0,取消,2016104851,58.0,01180,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
df_clean.groupby(["horse_id", "race_id"]).size().sort_values(ascending=False)

horse_id    race_id
2018104746  202309040910    1
            202309050710    1
            202407010511    1
            202408010510    1
2011106610  202305050312    1
                           ..
2021110164  202406030805    1
2021110166  202406020105    1
            202408020205    1
2021110169  202408010505    1
            202408020305    1
Length: 27153, dtype: int64