In [21]:
import numpy as np
import pandas as pd
import pickle
pd.set_option("display.max_columns", None) # 表示する列数の制限を解除

## テーブルの読み出し

In [8]:
# what: race_result_table.pklを読み込む
with open(r"C:\\Users\\yasak\\Desktop\\mykeibaAI\\data\\race_result_table.pkl", "rb") as f:
    # C:\Users\yasak\デスクトップ\Keiba_App\mykeibaAI_ver1p0\data\race_result_table.pkl # NotePC
    # C:\\Users\\yasak\\Desktop\\mykeibaAI\\data\\race_result_table.pkl # Desktop
    df_race = pickle.load(f)

print(df_race.columns)
print(f"Number of items: {len(df_race.columns)}")
df_race

Index(['date', 'race_id', 'is_win', 'rank', 'horse_id', 'weight_carried',
       'jockey_id', 'popularity', 'odds', 'last3f', 'trainer_id',
       'body_weight', 'sex', 'age', 'time_sec', 'body_diff'],
      dtype='object')
Number of items: 16

,date,race_id,is_win,rank,horse_id,weight_carried,jockey_id,popularity,odds,last3f,trainer_id,body_weight,sex,age,time_sec,body_diff
0,20231001,202309040910,1,1,2019105746,58.0,05203,5.0,7.2,35.9,01127,494.0,0,4.0,111.3,-4.0
1,20231001,202309040910,0,2,2019102983,58.0,01093,8.0,22.2,36.3,01069,494.0,0,4.0,111.4,-6.0
2,20231001,202309040910,0,3,2018104746,58.0,01174,4.0,7.0,36.8,00429,494.0,2,5.0,111.5,0.0
3,20231001,202309040910,0,4,2019100108,58.0,01157,11.0,33.9,37.1,01039,494.0,0,4.0,111.6,0.0
4,20231001,202309040910,0,5,2019103518,58.0,01128,10.0,30.1,36.8,00425,532.0,0,4.0,111.6,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28501,20240428,202408030411,0,14,2018104609,58.0,01157,8.0,39.8,39.4,01070,482.0,2,6.0,199.0,-4.0
28502,20240428,202408030411,0,15,2020103650,58.0,05386,2.0,2.8,40.5,01103,464.0,0,4.0,199.8,-8.0
28503,20240428,202408030411,0,16,2016104946,58.0,05212,7.0,34.6,40.3,01071,462.0,0,8.0,200.0,8.0
28504,20240428,202408030411,0,中止,2019100630,58.0,01115,15.0,199.1,NaN,01058,486.0,0,5.0,NaN,2.0
28505,20240428,202408030411,0,取消,2016104851,58.0,01180,NaN,NaN,NaN,01151,NaN,2,8.0,NaN,NaN

In [24]:
with open("C:\\Users\\yasak\\Desktop\\mykeibaAI\\data\\horse_result_table_2404.pkl", "rb") as f:
    # C:\\Users\\yasak\\デスクトップ\\Keiba_App\\mykeibaAI_ver1p0\\data\\horse_result_table_2404.pkl # NotePC
    # C:\\Users\\yasak\\Desktop\\mykeibaAI\\data\\horse_result_table_2404.pkl.pkl # Desktop
    df_horse = pickle.load(f)

print(df_horse.columns)
print(f"Number of items: {len(df_horse.columns)}")
df_horse

Index(['horse_id', 'race_date', 'weather', 'race_no', 'race_id',
       'num_of_horses', 'frame_no', 'horse_no', 'odds', 'popularity',
       'finish_position', 'jockey_id', 'weight', 'course_condition', 'time',
       'margin', 'final_3f', 'prize_money', 'course_state', 'distance_length',
       'passing_1st', 'passing_2nd', 'passing_3rd', 'passing_4th', 'pace_1st',
       'pace_2nd', 'body_weight', 'body_diff'],
      dtype='object')
Number of items: 28

,horse_id,race_date,weather,race_no,race_id,num_of_horses,frame_no,horse_no,odds,popularity,finish_position,jockey_id,weight,course_condition,time,margin,final_3f,prize_money,course_state,distance_length,passing_1st,passing_2nd,passing_3rd,passing_4th,pace_1st,pace_2nd,body_weight,body_diff
0,2018104746,2024-03-23,2.0,11,202407010511,16,4,8,9.8,5,4,01095,56,2.0,116.5,0.9,36.5,280.0,1,1900,11.0,11.0,11.0,10.0,29.1,36.4,490.0,-4.0
1,2018104746,2024-01-14,0.0,10,202408010510,13,8,12,85.3,8,6,01199,58,0.0,112.7,0.9,35.9,,1,1800,10.0,11.0,12.0,10.0,37.1,36.1,494.0,0.0
2,2018104746,2023-12-23,0.0,10,202309050710,16,7,14,13.2,4,10,01174,56,0.0,113.4,1.2,37.8,,1,1800,12.0,13.0,11.0,10.0,36.9,37.9,494.0,-2.0
3,2018104746,2023-10-28,0.0,10,202308020810,15,7,14,3.0,1,9,01088,58,0.0,112.7,1.1,38.6,,1,1800,6.0,5.0,6.0,3.0,36.0,38.0,496.0,2.0
4,2018104746,2023-10-01,1.0,10,202309040910,12,8,12,7.0,4,3,01174,58,2.0,111.5,0.2,36.8,463.6,1,1800,9.0,9.0,7.0,7.0,36.4,37.3,494.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178960,2018100141,2020-07-29,0.0,5,202030072905,7,6,6,2.1,1,1,05371,54,0.0,112.9,-0.6,41.3,100.0,1,1700,7.0,7.0,5.0,1.0,NaN,NaN,444.0,0.0
178961,2018100141,2020-07-01,1.0,9,202030070109,9,8,9,3.3,2,2,05371,54,2.0,112.0,1.6,39.7,20.0,1,1700,9.0,9.0,9.0,8.0,NaN,NaN,444.0,-6.0
178962,2018100141,2020-06-18,0.0,5,202030061805,12,6,8,14.4,4,2,05371,54,NaN,114.2,0.3,40.3,20.0,1,1700,11.0,11.0,9.0,5.0,NaN,NaN,450.0,0.0
178963,2018100141,2020-06-04,0.0,2,202030060402,11,6,6,4.4,2,3,05371,54,0.0,117.1,2.5,41.7,15.0,1,1700,9.0,8.0,10.0,9.0,NaN,NaN,450.0,10.0
178964,2018100141,2020-05-05,0.0,5,202030050505,10,5,5,83.3,10,5,05371,54,2.0,69.1,1.9,38.0,12.5,1,1100,10.0,9.0,NaN,NaN,NaN,NaN,440.0,0.0

## 前処理0. horse_result_tableの整形

In [10]:
# idのカラムをすべて文字列型に変換し、前後の空白を削除する
df_race["race_id"] = df_race["race_id"].astype(str).str.strip()
df_race["horse_id"] = df_race["horse_id"].astype(str).str.strip()
df_horse["race_id"] = df_horse["race_id"].astype(str).str.strip()
df_horse["horse_id"] = df_horse["horse_id"].astype(str).str.strip()

# jockey_idとtrainer_idも同様に処理する
# スクレイピングをしてtableを作成する際にこの処理はやっておく

In [11]:
# what: horse_result_tableの前処理
# for:  horse_result_tableをrace_result_tableに1対1でマージできるように
# how:  horse_result_tableのrace_idを期間で絞り込み、出走頭数と一致するデータのみを残す。さらに地方競馬場のデータを除外

# 直近nレースから集約できるように並び替えておく
df_horse = df_horse.sort_values(by=["horse_id", "race_date"], ascending=[True, True])
# race_idをスクレイピングした期間のデータに絞る
df_horse_indate = df_horse[(df_horse["race_date"] >= "2023-10-01") & (df_horse["race_date"] <= "2024-04-30")].copy()

# 1. "取"(取消), "除"(除外), ""(空欄)になっている行を出走頭数(actual_horses)のカウントから除外する
df_horse_indate.loc[:, "is_cash"] = df_horse_indate["finish_position"].astype(str).str.strip().isin(["取", "除", ""])
actual_counts = df_horse_indate[~df_horse_indate["is_cash"]].groupby("race_id").size().rename("actual_horses")

# 2. num_of_horses と結合
df_check = df_horse_indate.merge(actual_counts, on="race_id")
# 2.5 num_of_horses を数値型に変換
df_check.loc[:, "num_of_horses"] = pd.to_numeric(df_check["num_of_horses"], errors="coerce")

# 3. 一致しているデータだけ残す
df_clean = df_check[df_check["actual_horses"] == df_check["num_of_horses"]].copy()

# 4. 地方競馬場のデータを除外する
# race_idの5-6桁目を抽出（1-basedで5-6桁 → 0-based slice [4:6]）
df_clean.loc[:, 'race_course_code'] = df_clean['race_id'].str[4:6]
jra_codes = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10"]  # JRAの中央競馬場コード
df_clean = df_clean[df_clean['race_course_code'].isin(jra_codes)]
df_clean

,horse_id,race_date,weather,race_no,race_id,num_of_horses,frame_no,horse_no,odds,popularity,...,passing_2nd,passing_3rd,passing_4th,pace_1st,pace_2nd,body_weight,body_diff,is_cash,actual_horses,race_course_code
0,2011106610,2023-10-07,0.0,9,202308020109,11,8,10,262.8,11,...,10.0,NaN,NaN,36.0,33.5,478.0,4.0,False,11,08
1,2011106610,2023-10-29,0.0,9,202308020909,9,2,2,222.4,9,...,7.0,NaN,NaN,36.5,33.4,478.0,0.0,False,9,08
2,2011106610,2023-11-11,1.0,12,202305050312,8,7,7,206.9,8,...,6.0,NaN,NaN,35.9,34.9,494.0,16.0,False,8,05
3,2011106610,2023-12-10,0.0,8,202309050408,8,1,1,211.8,8,...,8.0,8.0,7.0,38.2,33.7,480.0,-14.0,False,8,09
12,2012100683,2023-10-01,1.0,12,202309040912,16,7,14,42.2,12,...,8.0,NaN,NaN,34.1,37.6,482.0,-4.0,False,16,09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32056,2021110164,2024-04-14,0.0,5,202406030805,16,2,4,1.3,1,...,1.0,NaN,NaN,34.3,36.3,514.0,-2.0,False,16,06
32057,2021110166,2024-01-28,0.0,5,202408020205,13,6,9,19.0,7,...,13.0,13.0,12.0,37.6,35.6,450.0,0.0,False,13,08
32058,2021110166,2024-02-24,0.0,5,202406020105,16,1,2,36.7,8,...,7.0,9.0,7.0,36.6,36.6,442.0,-8.0,False,16,06
32059,2021110169,2024-01-14,0.0,5,202408010505,18,2,3,71.5,11,...,1.0,NaN,NaN,34.7,35.6,482.0,0.0,False,18,08
32060,2021110169,2024-02-03,0.0,5,202408020305,16,7,14,86.4,11,...,2.0,NaN,NaN,34.1,36.4,482.0,0.0,False,16,08

In [12]:
# # what: race_result_tableとhorse_result_tableで、キーとするrace_idとhorse_idに不一致がないか確認
# merged = df_race.merge(
#     df_clean,
#     on=["horse_id", "race_id"],
#     how="outer",
#     indicator=True
# )
# matched_count = (merged["_merge"] == "both").sum()
# print(f"Number of matched records: {matched_count}")
# unmatched_count = (merged["_merge"] != "both").sum()
# print(f"Number of unmatched records: {unmatched_count}") # 0にならなければ不整合なデータ有

In [13]:
# # what: 不整合データを確認（デバッグ用）
# unmatched_rows = merged[merged["_merge"] != "both"][["horse_id", "race_id"]] # 不整合データを一覧表示
# unmatched_rows
# df_race[(df_race["horse_id"] == "2015100744") & (df_race["race_id"] == "202410020411")] # 不整合データがrace_result_tableに存在するか確認
# df_clean[(df_clean["horse_id"] == "2015100744") & (df_clean["race_id"] == "202410020411")] # 不整合データがhorse_result_tableに存在するか確認

## 前処理1. 対数化したオッズの取得

In [14]:
# オッズがstr型だったため数値に変更
df_clean["odds"] = pd.to_numeric(df_clean["odds"], errors="coerce")
# 対数化
df_clean['log_odds'] = np.log(df_clean['odds'])

In [15]:
# 馬ごと各レース時点での過去3, 5, 10試合のlog_oddsの平均をとる

# 「今見ている行より下側」の log_odds を参照するために shift(-1)
df_clean["log_odds_shift"] = df_clean.groupby("horse_id")["log_odds"].shift(+1)
# レース時点での過去3, 5, 10レースの平均を計算
df_clean["log_odds_avg_3"] = (
    df_clean.groupby("horse_id")["log_odds_shift"]
      .rolling(3)
      .mean()
      .reset_index(level=0, drop=True)
)

df_clean["log_odds_avg_5"] = (  
    df_clean.groupby("horse_id")["log_odds_shift"]
      .rolling(5)
      .mean()
      .reset_index(level=0, drop=True)
)

df_clean["log_odds_avg_10"] = (
    df_clean.groupby("horse_id")["log_odds_shift"]
      .rolling(10)
      .mean()
      .reset_index(level=0, drop=True)
)
# 不要な列を削除
df_clean = df_clean.drop(columns=["log_odds_shift"])

## 前処理2. 平均との差分を分布で割ったnレース平均(z-score)

In [16]:
df_clean['odds_zscore_in_race'] = (
    df_clean.groupby('race_id')['odds']
      .transform(lambda x: (x - x.mean()) / (x.std(ddof=0) + 1e-9))
)

In [17]:
# 追加した特徴量の確認
df_clean

,horse_id,race_date,weather,race_no,race_id,num_of_horses,frame_no,horse_no,odds,popularity,...,body_weight,body_diff,is_cash,actual_horses,race_course_code,log_odds,log_odds_avg_3,log_odds_avg_5,log_odds_avg_10,odds_zscore_in_race
0,2011106610,2023-10-07,0.0,9,202308020109,11,8,10,262.8,11,...,478.0,4.0,False,11,08,5.571393,NaN,NaN,NaN,3.105813
1,2011106610,2023-10-29,0.0,9,202308020909,9,2,2,222.4,9,...,478.0,0.0,False,9,08,5.404478,NaN,NaN,NaN,2.751182
2,2011106610,2023-11-11,1.0,12,202305050312,8,7,7,206.9,8,...,494.0,16.0,False,8,05,5.332236,NaN,NaN,NaN,2.509235
3,2011106610,2023-12-10,0.0,8,202309050408,8,1,1,211.8,8,...,480.0,-14.0,False,8,09,5.355642,5.436035,NaN,NaN,2.507801
12,2012100683,2023-10-01,1.0,12,202309040912,16,7,14,42.2,12,...,482.0,-4.0,False,16,09,3.742420,NaN,NaN,NaN,0.144944
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32056,2021110164,2024-04-14,0.0,5,202406030805,16,2,4,1.3,1,...,514.0,-2.0,False,16,06,0.262364,NaN,NaN,NaN,-0.803143
32057,2021110166,2024-01-28,0.0,5,202408020205,13,6,9,19.0,7,...,450.0,0.0,False,13,08,2.944439,NaN,NaN,NaN,-0.489452
32058,2021110166,2024-02-24,0.0,5,202406020105,16,1,2,36.7,8,...,442.0,-8.0,False,16,06,3.602777,NaN,NaN,NaN,-0.481373
32059,2021110169,2024-01-14,0.0,5,202408010505,18,2,3,71.5,11,...,482.0,0.0,False,18,08,4.269697,NaN,NaN,NaN,-0.140009
32060,2021110169,2024-02-03,0.0,5,202408020305,16,7,14,86.4,11,...,482.0,0.0,False,16,08,4.458988,NaN,NaN,NaN,0.053744

## テーブルのマージ（horse_result_table to race_result_table）

In [ ]:
# 抽出する特徴量の指定
feature_cols = [
    "horse_id",
    "race_id",
    "weather",
    "course_condition",
    "course_state",
    "distance_length",
    "log_odds",
    "log_odds_avg_3",
    "log_odds_avg_5",
    "log_odds_avg_10",
    "odds_zscore_in_race"
    ]
df_merged_race = df_race.merge(df_clean[feature_cols], on=["horse_id", "race_id"], how="left")

In [23]:
# マージしたテーブルの確認
df_merged_race

,date,race_id,is_win,rank,horse_id,weight_carried,jockey_id,popularity,odds,last3f,trainer_id,body_weight,sex,age,time_sec,body_diff,weather,course_condition,course_state,distance_length,log_odds,log_odds_avg_3,log_odds_avg_5,log_odds_avg_10,odds_zscore_in_race
0,20231001,202309040910,1,1,2019105746,58.0,05203,5.0,7.2,35.9,01127,494.0,0,4.0,111.3,-4.0,1.0,2.0,1,1800,1.974081,NaN,NaN,NaN,-0.531361
1,20231001,202309040910,0,2,2019102983,58.0,01093,8.0,22.2,36.3,01069,494.0,0,4.0,111.4,-6.0,1.0,2.0,1,1800,3.100092,NaN,NaN,NaN,-0.059040
2,20231001,202309040910,0,3,2018104746,58.0,01174,4.0,7.0,36.8,00429,494.0,2,5.0,111.5,0.0,1.0,2.0,1,1800,1.945910,NaN,NaN,NaN,-0.537659
3,20231001,202309040910,0,4,2019100108,58.0,01157,11.0,33.9,37.1,01039,494.0,0,4.0,111.6,0.0,1.0,2.0,1,1800,3.523415,NaN,NaN,NaN,0.309370
4,20231001,202309040910,0,5,2019103518,58.0,01128,10.0,30.1,36.8,00425,532.0,0,4.0,111.6,8.0,1.0,2.0,1,1800,3.404525,NaN,NaN,NaN,0.189716
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28501,20240428,202408030411,0,14,2018104609,58.0,01157,8.0,39.8,39.4,01070,482.0,2,6.0,199.0,-4.0,0.0,0.0,0,3200,3.683867,1.886842,NaN,NaN,-0.502945
28502,20240428,202408030411,0,15,2020103650,58.0,05386,2.0,2.8,40.5,01103,464.0,0,4.0,199.8,-8.0,0.0,0.0,0,3200,1.029619,NaN,NaN,NaN,-0.838668
28503,20240428,202408030411,0,16,2016104946,58.0,05212,7.0,34.6,40.3,01071,462.0,0,8.0,200.0,8.0,0.0,0.0,0,3200,3.543854,NaN,NaN,NaN,-0.550127
28504,20240428,202408030411,0,中止,2019100630,58.0,01115,15.0,199.1,NaN,01058,486.0,0,5.0,NaN,2.0,0.0,0.0,0,3200,5.293807,1.339682,NaN,NaN,0.942481
28505,20240428,202408030411,0,取消,2016104851,58.0,01180,NaN,NaN,NaN,01151,NaN,2,8.0,NaN,NaN,0.0,0.0,0,3200,NaN,NaN,NaN,NaN,NaN

In [20]:
# マージしたテーブルに問題がなければpickleで保存
pd.to_pickle(df_merged_race, "C:\\Users\\yasak\\Desktop\\mykeibaAI\\data\\merged_table.pkl")

In [ ]:
# what: race_id_list.csvのファイル名に日付を記載しておく関数
# for:  どの期間のrace_idを取得したか一目でわかるようにするため
# in:   ファイルに書かれているキーワード
# out:  更新したファイルの名前

In [ ]:
# what: race_id_list.csvのファイル名に日付を記載しておく関数
# for:  どの期間のrace_idを取得したか一目でわかるようにするため